/* Importa la fuente Roboto Condensed desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos para el cuerpo del documento */
body {
  font-family: "Roboto Condensed", sans-serif; /* Usa la fuente importada */
  font-optical-sizing: auto;
  font-weight: 700; /* Peso de fuente */
  font-style: normal; /* Estilo de fuente */
  background-color: #000000; /* Color de fondo */
  margin: 0; /* Elimina márgenes predeterminados */
  padding: 0; /* Elimina relleno predeterminado */
  display: flex; /* Usa flexbox para la disposición */
  flex-direction: column; /* Disposición vertical */
  align-items: center; /* Alinea los elementos al centro */
}

/* Estilo para el título principal */
.title {
  font-size: 24px; /* Tamaño de fuente */
  color: #e1e1e1; /* Color del texto */
  margin-top: 20px; /* Margen superior */
  text-align: center; /* Alineación del texto */
}

/* Estilo para el contenedor de fecha y hora */
.date-time {
  background-color: #009159; /* Color de fondo */
  color: #e1e1e1; /* Color del texto */
  width: 150px; /* Ancho fijo */
  border-radius: 20px; /* Bordes redondeados */
  text-align: center; /* Alineación del texto */
  padding: 2px; /* Relleno */
  margin: 20px 0; /* Margen vertical */
}

/* Estilos para las tarjetas del clima */
.card-weather {
  display: flex; /* Usa flexbox para la disposición */
  flex-direction: column; /* Disposición vertical */
  background-color: #01613c; /* Color de fondo */
  justify-content: space-evenly; /* Espaciado uniforme entre elementos */
  min-width: 300px; /* Ancho mínimo */
  max-width: 500px; /* Ancho máximo */
  height: auto; /* Altura automática */
  margin-top: 20px; /* Margen superior */
  border-radius: 20px; /* Bordes redondeados */
  padding: 20px; /* Relleno */
}

/* Estilos para las tarjetas individuales */
.card-1, .card-2 {
  background-color: #009159; /* Color de fondo */
  font-size: 15px; /* Tamaño de fuente */
  color: #e1e1e1; /* Color del texto */
  text-align: center; /* Alineación del texto */
  justify-content: center; /* Alinea el contenido al centro */
  border-radius: 20px; /* Bordes redondeados */
  margin: 10px auto; /* Margen automático para centrado */
  padding: 10px; /* Relleno */
  box-sizing: border-box; /* Incluye el relleno y borde en el ancho y alto total */
  min-width: 150px; /* Ancho mínimo */
  width: auto; /* Ancho automático */
  max-width: calc(100% - 20px); /* Ancho máximo ajustado al contenedor */
}

/* Oculta la segunda tarjeta inicialmente */
.card-2 {
  display: none;
}

/* Estilo para el icono del clima */
.icon-weather {
  background-color: #01613c; /* Color de fondo */
  border-radius: 20px; /* Bordes redondeados */
  width: 100px; /* Ancho fijo */
  margin: 0 auto; /* Centrando el icono */
}

/* Estilos para el campo de búsqueda del clima */
.search-weather {
  background-color: #009159; /* Color de fondo */
  color: #e1e1e1; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 20px; /* Bordes redondeados */
  outline: none; /* Sin borde de enfoque */
  text-align: center; /* Alineación del texto */
}

/* Estilos para el campo de entrada general */
.input {
  background-color: #01613c; /* Color de fondo */
  margin: 10px auto; /* Margen automático para centrado */
  border-radius: 20px; /* Bordes redondeados */
  width: 80%; /* Ancho relativo */
  max-width: 200px; /* Ancho máximo */
  padding: 10px; /* Relleno */
  text-align: center; /* Alineación del texto */
}

/* Estilos para los botones */
button {
  background-color: #009159; /* Color de fondo */
  border: #01613c 2px; /* Borde */
  color: #e1e1e1; /* Color del texto */
  width: 100px; /* Ancho fijo */
  border-radius: 20px; /* Bordes redondeados */
  padding: 5px; /* Relleno */
  margin: 7px 0 0 0; /* Margen superior */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilos para el pie de página */
.footer {
  width: 100%; /* Ancho completo */
  padding: 20px; /* Relleno */
  box-sizing: border-box; /* Incluye el relleno en el ancho total */
  text-align: center; /* Alineación del texto */
  margin-top: auto; /* Empuja el pie de página al fondo */
}

/* Estilos para los párrafos en el pie de página */
.footer p {
  color: #e1e1e1; /* Color del texto */
  margin: 0; /* Sin margen */
}

/* Estilos para las listas en el pie de página */
.footer ul {
  list-style: none; /* Sin viñetas */
  padding: 0; /* Sin relleno */
  margin: 10px 0; /* Margen vertical */
  display: flex; /* Usa flexbox para la disposición */
  justify-content: center; /* Alinea los elementos al centro */
}

/* Estilos para los elementos de lista en el pie de página */
.footer ul li {
  margin: 0 10px; /* Margen horizontal */
}

/* Estilos para los enlaces en el pie de página */
.footer a {
  color: #e1e1e1; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
}

/* Estilos para los enlaces al pasar el ratón */
.footer a:hover {
  color: #006b42; /* Color al pasar el ratón */
}

/* Estilos para la selección del texto en el campo de búsqueda */
.search-weather::selection {
  background-color: #e1e1e1; /* Color de fondo de la selección */
  color: #00814f; /* Color del texto de la selección */
}

/* Estilos para el placeholder en el campo de búsqueda */
.search-weather::placeholder {
  color: #A9A9A9; /* Color del placeholder */
}

/* Estilos para el botón al pasar el ratón */
button:hover {
  background-color: #006b42; /* Color de fondo al pasar el ratón */
}

/* Estilos para el botón al hacer clic */
button:active {
  background-color: #01613c; /* Color de fondo al hacer clic */
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 599px) {
  .card-1, .card-2 {
    min-width: 200px; /* Ancho mínimo */
    width: 100%; /* Ancho completo */
    max-width: none; /* Sin límite de ancho máximo */
  }
}

/* Estilos responsivos para pantallas grandes */
@media (min-width: 600px) {
  .card-weather {
    flex-direction: row; /* Disposición horizontal */
    height: auto; /* Altura automática */
  }
  
  .card-1, .card-2 {
    flex: 1; /* Distribuye el espacio igualmente */
    min-width: 200px; /* Ancho mínimo */
    margin: 10px; /* Margen */
  }
}
